body {
    background: url('./image/pexels-pixabay-531880.jpg');
    background-size: cover;
}

.location {
    padding-left: 500px;
    padding-top: 100px;
}

h1 {
    margin-left: 550px;
    font-size: 50px;
    color: rgb(8, 8, 8);
}